body {
  margin: 0;
  padding: 4.5rem 0 0 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.list-group-item {
  padding: 0.15rem 1.25rem !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-emg {
  background-color: #06344c;
}

img {
  width: 100%;
}
.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: #75bc54 !important;
  border-color: #75bc54 !important;
  color: white !important;
}
.btn-primary:hover {
  border-color: #3e7c21 !important;
  background-color: #336d19 !important;
}

.btn-emg:hover {
  color: white;
  border-color: white;
}

.first-letter {
  font-size: 4rem;
  color: #75bc54;
}

.page-footer {
  padding-top: 1rem;
}

.page-item.active .page-link {
  background-color: #75bc54 !important;
  border-color: #75bc54 !important;
}
/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container-contact {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
